Python Fundamental

In [ ]:
#komentar
"""
This script is a simple example of a Python script that uses the argparse library to handle command-line arguments.
It includes a function to print a greeting message and another to print the current date and time.
"""

In [4]:
a = 78 #int
b = 5.46 #float
c = '5' #string
d = 'hello' #string
e = True #boolean

print(a, b, c, d, e)

type(a), type(b), type(c), type(d), type(e) #cek tipe data

78 5.46 5 hello True

(int, float, str, str, bool)

In [7]:
#data casting
f = float(a) #int to float
g = int(b) #float to int
h = str(a) #int to string

print(f, g, h)
type(f), type(g), type(h) #cek tipe data

78.0 5 78

(float, int, str)

In [8]:
lis1 = [1, 2, 3, 4, 5] #list
lis2 = ['mawar', 'melati', 'tulip'] #list str
list3 = [1, 2.5, 'mawar', True] #list campuran
type(lis1), type(lis2), type(list3) #cek tipe data

(list, list, list)

In [ ]:
#buatlah project untuk memasukkan nilai mata kuliah x dengan bobot penilaian sebagai berikut :
#Tugas 20% quiz 30% uts 50% = 40%
#tugas 15% quiz 20% project 25% uts 40% 60%
# kala nilai diatas 55 , status lulus, dibawah 55 tidak lulus, grade c, grade bc diatas 60, b diatas 66, 73 diatas AB 81 diatas A


#nilai NTS
nama = input('masukkan nama : ')
tugas_nts = float(input('masukkan nilai tugas : '))
quiz_nts = float(input('masukkan nilai quiz : '))
uts_nts = float(input('masukkan nilai uts : '))

nts = (tugas_nts * 0.2) + (quiz_nts * 0.3) + (uts_nts * 0.5) #nilai NTS

#nilai NTA
tugas_nas = float(input('masukkan nilai tugas : '))
quiz_nas = float(input('masukkan nilai quiz : '))
project_nas = float(input('masukkan nilai project : '))
uas_nas = float(input('masukkan nilai uts : '))

nas = (tugas_nas * 0.15) + (quiz_nas * 0.2) + (project_nas * 0.25) + (uas_nas * 0.4) #nilai NTA

na = nts * 0.4 + nas * 0.6 #nilai akhir

if(na >= 55 and na < 60):
    status = 'lulus'
    grade = 'C'
elif(na >= 60 and na < 66):
    status = 'lulus'
    grade = 'BC'
elif(na >= 66 and na < 73):
    status = 'lulus'
    grade = 'B'
elif(na >= 73 and na < 81):
    status = 'lulus'
    grade = 'AB'
elif(na >= 81 and na <= 100):
    status = 'lulus'
    grade = 'A'
elif(na <= 40 and na < 55):
    status = 'tidak lulus'
    grade = 'D'
else:
    status = 'tidak lulus'
    grade = 'E'

print('nama : ', nama)
print('nts : ', nts)
print('nas : ', nas)
print('nilai akhir : ', na)
print('status : ', status)
print('grade : ', grade)

nama :  DevoSenju
nts :  100.0
nas :  100.0
nilai akhir :  100.0
status :  lulus
grade :  a